.male{
    background-color: aqua;
    text-align: center;
}
.human{
    background-color: aquamarine;
}
.frout{
    background-color: bisque;
}
.vegetable{
    background-color: antiquewhite;
}
.female{
    text-align: right;
}