h1{
    border: solid;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
.di{
    height: 300px;
    width: 50%;
    margin: 50px;
    background-color: aqua;
    outline: solid;
    outline-color: blue;
    outline-offset: 10px;
    opacity: .9;
}
body{
    /*background-color: aquamarine;*/
    background-image: url("D:/Photos/3N7B/Braji nidheesh/New folder (2)/0B1A2988.JPG");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}
h1{
    background-color: bisque;
}
h2{
    color: cadetblue;
    text-align: center;
    text-transform: capitalize;
}
p{
    text-indent: 20%;
    letter-spacing: 2px;
}