<h1></h1>
<form method="post">
  <div id="body">
     
      <table>
          <tr>
              <th colspan="6"><h1>To Do List</h1></th>
          </tr>
          <tr>
              <th>Sl.No.</th>
              <th>Date</th>
              <th>Time</th>
              <th>List</th>
              <th colspan="2">Action</th>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><a href="">Edit</a></td>
              <td><a href="">Delete</a></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><input type="text" name="data"></td>
              <td colspan="2"><input type="submit" value="Add"></td>
          </tr>
          <tr>
              <td colspan="6"><a href="">Add</a></td>
          </tr>
      </table>
  </div>
</form>
<router-outlet></router-outlet>