img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 3s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}
img:hover{
    transform: rotate(360deg);
}