#container{
    width:500px;
    height: 500px;
    border:2px solid black;
    margin: auto;
}
#div1{
    width: 50px;
    height:50px;
    background-color: brown;
    margin: 2px;
    position: relative;
    left:54px;
    top:52px;
}
#div2{
    width: 50px;
    height:50px;
    background-color: rgb(42, 44, 165);
    margin: 2px;
}
#div3{
    width: 50px;
    height:50px;
    background-color: rgb(42, 130, 165);
    margin: 2px;
}
#div4{
    width: 50px;
    height:50px;
    background-color: rgb(165, 42, 165);
    margin: 2px;
    position: fixed;
}
h2{
    position: sticky;
    top: 2px;
    background-color: aquamarine;
    text-align: center;
}