h1{
    border: solid;
    width: 100px;
}
.di{
    height: 300px;
    width: 50%;
    margin: 50px;
    background-color: aqua;
    outline: solid;
    outline-color: blue;
    outline-offset: 10px;
}