div{
    height: 200px;
    width: 200px;
    background-color: chocolate;
    margin: auto;
    transform: rotate(-30deg);
    transform: scale(2,2);
    transform: scaleX(2);
    transform: scaleY(2);
    transform: skewX(10deg);
    transform: skewY(10deg);
}